.authWrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// background: linear-gradient(to right, #f200ff, #ff0000);
	background-color: var(--mainBackground);
	color: var(--mainColor);
}
