.sendMessage {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
	.modalSwitchType {
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 0 0 20px #e6e6e6;
		top: -160px;
		right: 0;
		position: absolute;
		display: flex;
		flex-direction: column;
		.switchType {
			padding: 10px 20px;
			display: flex;
			align-items: center;
			gap: 10px;
			cursor: pointer;
			p {
				width: 80%;
				text-transform: uppercase;
				font-weight: 600;
			}
			svg {
				font-size: 30px;
			}
		}
		.active {
			background-color: #e6e6e6;
		}
	}
	.file,
	.send {
		font-size: 30px;
		cursor: pointer;
	}
	.input {
		width: 100%;
		height: 40px; /* Явная высота для инпута */
		border: none;
		outline: none;
		border-radius: 20px;
		padding: 0px 10px; /* Добавляем отступы */
		font-size: 16px;
	}
	.video {
		width: 100%;
		height: 250px;
		display: flex;
		justify-content: center;
		video {
			width: 300px;
			height: 250px;
			object-fit: contain;
		}
	}
}
